@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "./styles/_buttons.scss";
@import "./styles/_base.scss";

@theme {
  /* Fonts */
  --font-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-poppins: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Colours */
  --color-off-white: #e5e7eb;
  --color-soft-blue: #3b82f6;
  --color-light-grey: #374151;
  --color-dark-grey: #111827e6;
  --color-rich-black: #030712;
  --color-calming-green: #10b981;
  --color-rich-purple: #7c3aed;
  --color-rich-purple-start: #a47bf4;
  --color-rich-purple-end: #ed4e8c;

  --color-border-white: rgba(229, 231, 235, 0.5);

  --custom-gradient-blue: linear-gradient(
    90deg,
    var(--color-dark-grey),
    var(--color-light-grey),
    var(--color-dark-grey)
  );

  --custom-gradient-rich-purple: linear-gradient(
    90deg,
    var(--color-rich-purple-start),
    var(--color-rich-purple-end),
    var(--color-rich-purple-start)
  );
}

.animated-gradient {
  background-image: var(--custom-gradient-rich-purple);
  background-size: 200% 100%;
  animation: gradientAnimation 10s linear infinite;
  transition: background-position 0.3s linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
